<div class="row" style="
padding-left: 3.5%;
">
  <div class="col-md-3">
    <label>Select Start Date: </label>
    <div
      id=""
      class="input-group date datepicker"
      data-date-format="mm-dd-yyyy"
    >
      <input class="form-control start-date" type="text" readonly />
      <span class="input-group-addon"
        ><i class="glyphicon glyphicon-calendar"></i
      ></span>
    </div>
  </div>
  <div class="col-md-3">
    <label>Select End Date: </label>
    <div
      id=""
      class="input-group date datepicker"
      data-date-format="mm-dd-yyyy"
    >
      <input class="form-control end-date" type="text" readonly />
      <span class="input-group-addon"
        ><i class="glyphicon glyphicon-calendar"></i
      ></span>
    </div>
  </div>
  <div class="col-md-2" style="margin-top: 28px;">
    <button type="button" class="btn btn-secondary get-logs">Get Logs</button>
  </div>
  <div class="col-md-2" style="margin-top: 28px;">
    <button type="button" class="btn btn-secondary expand-all">Expand All</button>
  </div>
  <div class="col-md-2" style="margin-top: 28px;">
    <button type="button" class="btn btn-secondary close-all">Close All</button>
  </div>
</div>
